.beta-ribbon {
  height: 50px;
  background-color: #50bcb6;
  color: #fff;
  align-items: center;
  justify-content:center;
  display:flex;
  margin-bottom: 5px; 
}

.beta-ribbon > a {
  color: #fff;
  text-decoration: underline;  
}

.beta-ribbon > a:hover {
	cursor: pointer;
}