.coming-soon {
	width: 642px;
	text-align: center;	
	margin: 0 auto;
}

.header {
	margin-bottom: 40px;
}

.header > h1 {
	text-align: center;
}

.text {
	margin: 33px 70px;
	text-align: center;
}

.line {
  width: 149px;
  height: 4px;
  margin: 23px auto 0px auto;
  background-color: #F24848;
}

.contact {
	text-align: center;
}

.contact > form > input {
	width: 315px;
	height: 44px;
	border: 1px solid #222E3D;
	padding-left: 20px;
}

.contact > form > .submit {
	width: 338px;
	padding: 0px;
	color: #fff;
	border: none;
	background-color: #F24848;
	margin-top: 25px;	
}

.contact > form > .submit:hover {
	cursor: pointer;
}